@import "tailwindcss";


body {
  background-image: url('./assets/images/bg-body.png') !important;
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
}

*{
  font-family: 'Marcellus', serif;
}

.hr_bg{
  background-image: url('./assets/images/home-hotspot-img-1.jpg');
  background-attachment: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 70;
    float: left;
}